<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DALSettings" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<DALSettings>
		<add key="fullQualifiedName" value="XmlDal.XmlDAL, XmlDal"/>		
	</DALSettings>

</configuration>